.content-container{
    display: flex;
    justify-content:space-around;
    align-content: center;
    padding-top: 10vh;
}
.img-container{
    width: auto
}
.aboutMe-text-container{
    align-content: center;
    width: 45%;
    font-weight: 100;
}
.aboutMe-img{
    width: 350px;
    border-radius: 9999px;
}
.aboutMe-subtitle{
    font-size: 20px;
    margin-bottom: 6px;
    margin-top: 6px;

}
.aboutMe-title{
    font-size: 35px;
}